@font-face {
  font-family: Kalameh_md;
  src: url("./../assets/fonts/KalamehWebFaNum-Medium.woff2") format("woff");
}

@font-face {
  font-family: Kalameh_black;

  src: url("./../assets/fonts/KalamehWebFaNum-Black.woff2") format("woff");
}
@font-face {
  font-family: Kalameh_bold;
  src: url("./../assets/fonts/KalamehWebFaNum-Bold.woff2") format("woff");
}
